{% block head %}
  {{ include('@SumoCodersFrameworkCore/head.html.twig') }}
{% endblock %}

<body class="body-empty">
    {{ include('@SumoCodersFrameworkCore/notifications.html.twig') }}
    <div class="container">
      {% block main %}{% endblock %}
    </div>
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
