<div class="toasts-wrapper" id="toast-wrapper">
  {% for flash_message in app.session.flashbag.get('success') %}
    <toast type="success" message="{{ flash_message }}"></toast>
  {% endfor %}

  {% for flash_message in app.session.flashbag.get('report') %}
    <toast type="info" message="{{ flash_message }}"></toast>
  {% endfor %}

  {% for flash_message in app.session.flashbag.get('warning') %}
    <toast type="warning" message="{{ flash_message }}"></toast>
  {% endfor %}

  {% for flash_message in app.session.flashbag.get('error') %}
    <toast type="danger" message="{{ flash_message }}"></toast>
  {% endfor %}
</div>
