{% block breadcrumb %}
  {% if breadcrumbs is defined and breadcrumbs.count > 1 %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        {% set class = (loop.first ? 'first' : (loop.last ? 'last' : '')) %}
        <li class="breadcrumb-item {{ class }}" itemprop="itemListElement">
          {% if loop.last or breadcrumb.url is null %}
            {{ breadcrumb.title|trans }}
          {% else %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.title|trans }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endblock %}
