.error-page {
  color: var(--bs-body-color);
  background-color: var(--error-bg);

  #content {
    text-align: center;

    &::before {
      content: '';
      background-color: var(--error-content-bg);
      width: 100vw;
      height: 350px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      @include media-breakpoint-up(sm) {
        height: 385px;
      }

      @include media-breakpoint-up(md) {
        height: 420px;
      }

      @include media-breakpoint-up(xl) {
        height: 450px;
      }
    }
  }

  #content .header {
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 300px;
  }

  #content p {
    margin: 2rem 0;
  }

  #content #illustration {
    display: block;
    width: 584px;
    max-width: 100%;
    height: 410px;
    background: url("../images/404.png") no-repeat top center;
    background-size: contain;
    margin: 20px auto auto auto;
    padding-bottom: 30px;
  }
}
