.main-wrapper-no-sidebar {
  padding-left: 0;

  #content-wrapper {
    margin-top: 0;
  }

  .breadcrumb-mobile {
    padding-left: $spacer;
  }

  .main-header {
    padding-left: 0;

    .navbar-brand {
      width: auto;
    }
  }
}
