// Colors

$white: #e1e1e1 !default;
$gray-850:   #242424 !default;
$blue: #5C8CCC !default;
$pink: #C6578A !default;
$red: #9E3820 !default;
$orange: #B76826 !default;
$yellow: #D7B550 !default;
$green: #4FA559 !default;
$cyan: #6da7af !default;

@import '../bootstrap-colors';

$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
) !default;

$primary:             $blue !default;
$secondary:           $gray-400 !default;
$success:             $green !default;
$info:                $cyan !default;
$warning:             $yellow !default;
$danger:              $red !default;
$light:               $white !default;
$dark:                $black !default;

$theme-colors:(
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "white":      $white
) !default;

$theme-color-interval:      8% !default;

// Body

$body-bg:             $gray-900 !default;
$body-color:          $white !default;


// Links

$link-color:          $primary !default;
$link-hover-color:    $body-color !default;


// Components

// scss-docs-start border-variables
$border-color:        $gray-800 !default;
// scss-docs-end border-variables


// Typography

// scss-docs-start type-variables
$text-muted:                    $gray-400 !default;
$mark-bg:                       #420b2a !default;
// scss-docs-end type-variables

// Tables

// scss-docs-start table-variables
$table-color:         $body-color !default;
$table-accent-bg:     $gray-850 !default;
$table-striped-bg:    $gray-900 !default;
$table-hover-color:   $table-color !default;
$table-hover-bg:      $gray-700 !default;
$table-border-color:  $gray-850 !default;
// scss-docs-end table-variables

// Buttons

// scss-docs-start btn-variables
$btn-link-disabled-color:     $gray-500 !default;
// scss-docs-end btn-variables

// Forms

// scss-docs-start form-input-variables
$component-active-bg:                   $primary !default;
$input-bg:                              $gray-800 !default;
$input-disabled-bg:                     $gray-900 !default;
$input-disabled-color:                  $gray-400 !default;

$input-color:                           $white !default;
$input-border-color:                    $gray-600 !default;
$input-focus-border-color:              $gray-300 !default;
$input-placeholder-color:               $gray-400 !default;
// scss-docs-end form-input-variables

// scss-docs-start form-check-variables
$form-check-input-bg:                     $gray-600 !default;
// scss-docs-end form-check-variables

// scss-docs-start input-group-variables
$input-group-addon-bg:                  $gray-800 !default;
// scss-docs-end input-group-variables

// scss-docs-start form-feedback-variables
$form-feedback-valid-color:         $success !default;
$form-feedback-invalid-color:       $danger !default;
// scss-docs-end form-feedback-variables


// Navs

// scss-docs-start nav-variables
$nav-link-disabled-color:           $gray-500 !default;

$nav-tabs-border-color:             $border-color !default;

$nav-tabs-link-hover-border-color:  $gray-600 $gray-600 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-200 !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg !default;
// scss-docs-end nav-variables


// Dropdowns

// scss-docs-start dropdown-variables
$dropdown-bg:                       $gray-700 !default;
$dropdown-divider-bg:               $gray-800 !default;
$dropdown-box-shadow:               0 0.5rem 1rem rgba($white, 0.175) !default;
$dropdown-link-color:               $white !default;
$dropdown-link-hover-bg:            $gray-800 !default;
$dropdown-link-active-bg:           $gray-900 !default;
$dropdown-link-disabled-color:      $gray-500 !default;

$dropdown-header-color:             $gray-300 !default;
// scss-docs-end dropdown-variables


// Pagination

// scss-docs-start pagination-variables
$pagination-bg:                     $gray-800 !default;
$pagination-border-color:           $pagination-bg !default;

$pagination-focus-bg:               $gray-700 !default;

$pagination-hover-bg:               $gray-700 !default;

$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $gray-900 !default;
$pagination-disabled-border-color:  $gray-800 !default;
// scss-docs-end pagination-variables

// Cards

// scss-docs-start card-variables
$card-bg:                           $gray-850 !default;
$card-border-color:                 $gray-800 !default;
// scss-docs-end card-variables


// Tooltips

// scss-docs-start tooltip-variables
$tooltip-bg:                        $gray-600 !default;
// scss-docs-end tooltip-variables


// Popovers

// scss-docs-start popover-variables
$popover-bg:                        $gray-600 !default;
// scss-docs-end popover-variables


// Toasts

// scss-docs-start toast-variables
$toast-background-color:            rgba($gray-800, 0.85) !default;

$toast-header-color:                $gray-100 !default;
$toast-header-background-color:     rgba($black, 0.35) !default;
// scss-docs-end toast-variables


// Modals

// scss-docs-start modal-variables
$modal-content-bg:    $body-bg !default;
$modal-backdrop-bg:   $gray-500 !default;
// scss-docs-end modal-variables


// Progress bars

// scss-docs-start progress-variables
$progress-bg:                       $gray-700 !default;
$progress-bar-color:                $body-color !default;
// scss-docs-end progress-variables


// List group

// scss-docs-start list-group-variables

$list-group-bg:                     $gray-800 !default;
$list-group-border-color:           $gray-700 !default;

$list-group-hover-bg:               $gray-700 !default;

$list-group-disabled-color:         $gray-500 !default;

$list-group-color:                  $gray-200 !default;
$list-group-action-color:           $gray-200 !default;
$list-group-action-hover-color:     $gray-100 !default;

$list-group-action-active-bg:       $gray-800 !default;
// scss-docs-end list-group-variables


// Image thumbnails

// scss-docs-start thumbnail-variables
$thumbnail-border-color:            $gray-600 !default;
// scss-docs-end thumbnail-variables


// Figures

// scss-docs-start figure-variables
$figure-caption-color:              $gray-400 !default;
// scss-docs-end figure-variables


// Breadcrumbs

// scss-docs-start breadcrumb-variables
$breadcrumb-active-color:           $gray-300 !default;
// scss-docs-end breadcrumb-variables


// Close

// scss-docs-start close-variables
$btn-close-color:            $gray-100 !default;
// scss-docs-end close-variables


// Code

$code-color:                        $pink !default;

$kbd-color:                         $gray-100 !default;
$kbd-bg:                            $gray-700 !default;

$pre-color:                         $gray-200 !default;


// Custom variables

// Colors

$top-color:                 $gray-700 !default;
$menu-bg:                   $gray-800 !default;
$loading-indicator-color:   $gray-600 !default;

// Back to top

$back-to-top-bg:            $gray-700 !default;

// accordion
$accordion-border-color:                  $gray-700 !default;
$accordion-button-active-color:           $body-color !default;

//alerts
$alert-color-scale:             60% !default;