// Base
@import 'base/fonts';
@import 'base/images';
@import 'base/type';

// Components
@import 'components/accordion';
@import 'components/alerts';
@import 'components/autocomplete';
@import 'components/back-to-top';
@import 'components/buttons';
@import 'components/cards';
@import 'components/datagrids';
@import 'components/datepicker';
@import 'components/dropdowns';
@import 'components/empty-state';
@import 'components/forms';
@import 'components/form-collection';
@import 'components/list-group';
@import 'components/loading';
@import 'components/modal';
@import 'components/navbar';
@import 'components/navs';
@import 'components/offcanvas';
@import 'components/page-header';
@import 'components/pagination';
@import 'components/scrolling';
@import 'components/tables';
@import 'components/toasts';
@import 'components/no-results';
@import 'components/password-strength-meter';
@import 'components/toggle-password';
@import 'components/icons';

// Layouts
@import 'layouts/framework';
@import 'layouts/search';
@import 'layouts/header';
@import 'layouts/actions';

// Plugins
@import "plugins/tom-select";
@import "plugins/quill";

// Last for overrides
@import 'base/no-sidebar';
