$bootstrap-icons-font-dir: "../../vendor/twbs/bootstrap-icons/font/fonts";

// Bootstrap
@import '../../../../../vendor/twbs/bootstrap/scss/functions';
@import 'bootstrap-variables';
@import 'bootstrap-variables-dark';
@import '../../../../../vendor/twbs/bootstrap/scss/variables';
@import "../../../../../vendor/twbs/bootstrap/scss/variables-dark";
@import 'bootstrap-imports';
@import "../../../../../vendor/twbs/bootstrap-icons/font/bootstrap-icons";

// Imports
@import 'imports';

.page-link.disabled {
  border: none;
}
