// Bootstrap
@import '../../../../../vendor/twbs/bootstrap/scss/functions';
@import 'themes/dark';
@import 'bootstrap-variables';
@import '../../../../../vendor/twbs/bootstrap/scss/variables';
@import "../../../../../vendor/twbs/bootstrap/scss/variables-dark";
@import 'bootstrap-imports';

// Imports
@import 'imports';

// Dark theme styles
@import 'dark/datepicker';
@import 'dark/mark';
@import 'dark/fontawesome';

.accordion-button:not(.collapsed) {
  background: $gray-850;
}

@each $state, $value in $theme-colors {
  .alert-#{$state} {
    background-color: rgba($value, 0.25);
    color: mix(white, $value, 80%);

    * {
      color: mix(white, $value, 80%) !important;
    }

    a {
      text-decoration: underline;
    }

    &::before {
      color: mix(white, $value, 80%);
    }
  }
}

.list-group-item {
  background-color:  $gray-850;;
  color: $body-color;
}

@each $state, $value in $theme-colors {
  .list-group-item-#{$state} {
    background-color:  $gray-850;;
    color: $body-color;
    border-left: 3px solid $value;
  }
}

@each $state, $value in $theme-colors {
  .btn-#{$state} {
    background-color:  rgba($value, 0.8);
    border-color:  rgba($value, 0.8);
  }
}

.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='#e1e1e1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

.collection-item-delete {
  background-color: $gray-850;

  &:hover, &:focus, &:active {
    background-color: $danger;
  }
}

// password strength meter
.meter-section {
  background-color: $gray-600;
}

.weak {
  background-color: $danger;
  opacity: 1;
}

.medium {
  background-color: $warning;
  opacity: 1;
}

.strong {
  background-color: $success;
  opacity: 1;
}

.very-strong {
  background-color: $green-700;
  opacity: 1;
}
