.action-buttons {
  button {
    margin-bottom: calc(#{$spacer} / 4);
    margin-top: calc(#{$spacer} / 4);
  }

  form.form-inline {
    display: inline;

    div {
      display: inline;
    }
  }
}
