@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#content-wrapper {
}

.header-title {
  padding: ($spacer * 0.5) 0 ($spacer * 0.5) ($spacer * 0.5);
  word-break: break-word;
  hyphens: auto;
  flex-shrink: 1;

  .progress-bar {
    float: none;
    width: auto;
  }

  h1 {
    font-size: 1.1rem;
  }

  h1,
  h2 {
    margin-bottom: 0;
  }
}

.header-title-bar {
  border-bottom: 1px var(--bs-border-color) solid;
  overflow: hidden;
  padding: 20px 19px;
  transition: border-color $transition-theme-duration $transition-theme-timing-function;

  h2 {
    color: $gray-500;
    font-style: normal;
    font-weight: normal;
    margin: 0;
  }
}

.buttons-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--top-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  padding: 2px;
  z-index: 2000;
  gap: 6px;
  margin-bottom: env(safe-area-inset-bottom);

  @include media-breakpoint-up(md) {
    width: calc(100% - $sidebar-width-open);

    &.sidebar-collapsed {
      width: calc(100% - $sidebar-width-closed);
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 22px $spacer * 0.5;
  }

  @include media-breakpoint-down(xxl) {
    .btn {
      padding: 6px;
      font-size: 14px;
    }
  }

  &-center {
    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
    }
  }
}

html:has(.sf-toolbar) {
  .buttons-fixed {
    margin-bottom: 40px;
  }
}

.actions {
  background-color: $dropdown-bg;
  border-bottom: 1px $gray-500 solid;
  display: block;
  padding: 14px 15px 10px 20px;

  .btn-info {
    background-color: var(--bs-info-text-emphasis);
    border-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 600;

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, var(--bs-info-text-emphasis), black 15%);
    }
  }

  .btn {
    padding: 5px 10px 7px;
  }
}

.main-content {
  padding: $spacer 0;

  &.has-buttons-fixed {
    padding-bottom: 100px;
  }
}

.btn[disabled] {
  pointer-events: all;
}

.action-buttons-mobile {
  padding: 15px;
}

.collapse-actions-toggle {
  color: var(--bs-body-color);
  padding: ($spacer * 0.3) $spacer;
}

@include media-breakpoint-up(md) {
  .header-title {
    padding: $spacer * 0.5;
  }

  #content-wrapper {
    margin-top: 0;
  }

  #main {
    //padding-top: $topbar-height-md;
  }

  .header-title-bar {
    border-top-width: 0;
    padding: calc(#{$grid-gutter-width} / 2) 18px;
  }

  .actions {
    padding: 14px 15px 14px 20px;
  }

  .action-buttons {
    float: right;
  }
}

@include media-breakpoint-up(lg) {
  .main-content {
    padding-left: $spacer;
    padding-right: $spacer;
  }

  .header-title-bar {
    padding-left: calc(#{$grid-gutter-width} / 2 + #{$spacer});
    padding-right: calc(#{$grid-gutter-width} / 2 + #{$spacer});
  }
}
