.sub-nav {
  border-radius: 0;
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  width: 100%;
  background-color: var(--top-color);

  .btn-group {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 600;
  }
}

.col-alternative {
  padding: 0;
}

.user-nav {
  background-color: var(--user-bg);
  min-height: 50px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;

  .user {
    border-bottom: 2px solid var(--bs-primary-text-emphasis);

    .btn {
      padding: 1.7rem 1rem;
    }
  }

  .bi-chevron-down {
    font-size: $font-size-sm;
    transform: rotate(0deg);
    transition-property: transform, padding;
    transition-duration: 0.4s;
  }

  .show .bi-chevron-down {
    transform: rotate(180deg);
  }

  .btn-group {
    z-index: 700;
    border-radius: 0;

    &.open .dropdown-toggle {
      box-shadow: none;
    }

    .btn-default {
      background: none;
      color: color-contrast($user-bg);
      overflow: hidden;

      &:hover,
      &:focus {
        background-color: shade-color($user-bg, 10%);
      }

      &::after {
        display: none;
      }
    }

    a {
      padding-bottom: 7px;
      padding-top: 7px;
    }
  }

  .btn {
    border: 0;
    border-radius: 0;
    margin: 0;
  }
}

.user {
  .user-nav  {
    background-color: transparent;
    border: none;

    .btn-group {
      border: none;

      .btn-default {
        &:hover, &:focus, &:active {
          background-color: transparent;
        }
      }
    }
  }
}

.main-header {
  .navbar-header {
    padding: 5px 10px;
  }

  .breadcrumb {
    margin-bottom: 0;
  }
}

.main-menu .navbar-collapse .user-nav .dropdown-menu {
  border: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  margin: 0;
}

@include media-breakpoint-up(lg) {
  .main-wrapper {
    padding-left: $sidebar-width-open;
    width: 100%;
  }

  .main-header {
    background-color: var(--top-color);
    border-bottom: 1px var(--bs-border-color) solid;
    width: 100%;
    z-index: 900;
    position: sticky;
    top: 0;

    .breadcrumb {
      border-bottom: 0;
      overflow: hidden;
      padding: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .alert {
      margin-bottom: 0;
    }
  }

  .user-nav {
    min-height: $topbar-height-md;

    .user {
      border-bottom: none;

      .btn {
        padding: $btn-padding-y $btn-padding-x;
      }

      .dropdown-menu {
        background-color: $user-dropdown-bg;
        transition: background-color $transition-theme-duration $transition-theme-timing-function;
      }
    }

    .btn-group {
      border-left: 1px var(--bs-border-color) solid;
      border-right: 0;
      transition: border-color $transition-theme-duration $transition-theme-timing-function;

      span {
        padding: 5px 0;
      }

      .bi-chevron-down {
        margin: 5px 0;
        padding: 0 0 0 10px;
      }

      .btn.show .bi-chevron-down {
        padding: 0 10px 0 0;
      }
    }
  }
}

@include color-mode(dark) {
  .user-nav {
    .btn-group {
      .btn-default {
        color: color-contrast($user-bg-dark);

        &:hover,
        &:focus {
          background-color: shade-color($user-bg-dark, 10%);
        }
      }
    }
  }
}
