.ui-autocomplete.ui-widget-content {
  border-color: var(--bs-gray-700);
  z-index: 100000;

  .ui-menu-item a {
    color: var(--bs-gray-100);
  }

  .ui-state-focus a {
    color: var(--bs-white);
  }

  .ui-state-focus {
    background: var(--bs-primary-text-emphasis);
    border-color: var(--bs-primary-text-emphasis);
    color: $white;
  }
}

.ui-menu .ui-menu-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

.ui-state-focus {
  background: var(--bs-primary-text-emphasis);
  border: 0;
  color: $white;
  margin: 0;

  a {
    color: $white;
  }
}
