.btn-square {
  padding: 4px;
  width: 34px;
  height: 34px;
  border-radius: $card-border-radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.card {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0;
  overflow: hidden;

  .card-header {
    background-color: $white;
    padding: $card-spacer-x;
  }

  .card-title {
    margin-bottom: 0;

    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child {
      margin-bottom: 0;
    }
  }

  .card-body {
    //flex-grow: 1;
    background-color: $white;
  }

  .card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding-left: 6px;
    padding-right: 6px;
    gap: 4px;

    .btn {
      padding: 4px 8px;
    }

    .btn-light {
      background-color: $gray-100;
      color: $primary;
    }
  }

  &.card-dashboard {
    cursor: pointer;
    position: relative;
    transition: $transition-base;

    &:hover {
      box-shadow: $box-shadow;
    }

    &:focus-within {
      box-shadow: $box-shadow;

      a:focus {
        text-decoration: none;
      }
    }

    i {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: $font-size-base;
    }

    a {
      color: $body-color;

      &::after {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.card-collection {
  background: $body-bg;
  border: 1px dashed $gray-400;
  padding-right: map_get($spacers, 4);

  &.card-collection-drag {
    padding-left: map_get($spacers, 4);

    .card-collection-item {
      padding-left: map_get($spacers, 4);
    }
  }
}

.collection-item-delete {
  background-color: $white;

  &:hover, &:focus, &:active {
    background-color: $danger;
  }
}

.card-collection-item {
  margin-bottom: $spacer;
  padding-right: map_get($spacers, 4);
}

@include media-breakpoint-up(md) {
  .card.card-dashboard {
    h2 {
      font-size: $font-size-base * 1.2;
    }

    i {
      margin-bottom: 2rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .card.card-dashboard .card-body {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
