.form-group {
  margin-bottom: $spacer;
}

.form-group abbr[title] {
  border-bottom: 0;
  color: var(--bs-primary-text-emphasis);
  margin-left: 5px;
  text-decoration: none;
}

.datetime-widget select[size],
.time-widget select[size] {
  height: 34px;
}

[data-role="clipboard"]:hover {
  cursor: copy;
}

.form-group abbr[title] {
  margin-left: 0;
}

@include color-mode(dark) {
  .form-select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='#e1e1e1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  }
}
