@keyframes loading-effect {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 50px 50px;
  }
}

.loading-indicator {
  background-color: $toast-background-color;
  border: 2px solid rgba($loading-indicator-color, 0.7);
  bottom: 20px;
  left: 50%;
  padding: 10px;
  position: fixed;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  z-index: 9999;

  .loading-bar {
    animation: loading-effect 3s infinite linear;
    background-color: yellow;
    background-size: 50px 50px;
    background-image: linear-gradient(-45deg, tint-color($loading-indicator-color, 15%) 25%, var(--bs-body-bg) 25%, var(--bs-body-bg) 50%, lighten($loading-indicator-color, 15%) 50%, lighten($loading-indicator-color, 15%) 75%, var(--bs-body-bg) 75%, var(--bs-body-bg));
    border: 1px solid tint-color($loading-indicator-color, 15%);
    border-radius: 50px;
    height: 20px;
  }
}

@include media-breakpoint-up(sm) {
  .loading-indicator {
    width: 400px;
  }
}
