#offcanvasUser {
  .btn-close {
    padding: 12px;
  }

  @include media-breakpoint-down(lg) {
    .user-nav {
      margin-bottom: 1rem;
      order: 0;

      .user {
        border: none
      }
    }

    .btn-group {
      width: 100%;
    }

    .user-nav:not(.theme-toggler) {
      .dropdown-toggle {
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: $gray-200;
        border-top: 1px solid $gray-400;
        border-bottom: 1px solid $gray-400;
        pointer-events: none;

        .fa-chevron-down {
          display: none;
        }
      }

      .dropdown-menu {
        display: block;
        position: static;
        border: none;
        width: 100%;
        border-radius: 0;
      }
    }

    .user-nav.theme-toggler {
      font-size: 0.95em;
      order: 1;

      button, .dropdown-item {
        font-size: 0.95em;
      }

      .dropdown-toggle {
        padding: 8px;
        background-color: $gray-200;
        border-color: $gray-400;
      }

      .dropdown-divider {
        margin: 0.25rem;
      }

      .dropdown-menu {
        padding: 0;
      }
    }
  }
}

@include color-mode(dark) {
  #offcanvasUser {
    @include media-breakpoint-down(lg) {
      .user-nav:not(.theme-toggler) {
        .dropdown-toggle {
          background-color: rgba($gray-900, 0.5);
          border-top: 1px solid rgba($gray-800, 0.3);
          border-bottom: 1px solid rgba($gray-900, 0.3);
        }
      }

      .user-nav.theme-toggler {
        .dropdown-toggle {
          background-color: rgba($gray-900, 0.5);
          border-color: rgba($gray-800, 0.3);
        }
      }
    }
  }
}
