.pagination {
  .page-item {
    .page-link {
      min-height: 34px;
      margin: 2px;
      text-decoration: none;
      border: 1px solid var(--bs-border-color);

      &:hover,
      &:focus, &:active, &.active {
        border-bottom: none !important;
        background-color: var(--bs-primary) !important;
        color: $black !important;
      }
    }

    &.prev, &.next {
      .page-link {
        border-radius: var(--bs-pagination-border-radius);
      }
    }

    &.next.disabled span,
    &.prev.disabled span {
      border: 1px solid var(--bs-border-color);

    }

    &.disabled span {
      border: none;
      background-color: transparent;
    }
  }

  .page-item:first-child > .page-link {
    border: 1px solid var(--bs-border-color);

  }

  .page-item:last-child > .page-link {
    border: 1px solid var(--bs-border-color);
  }
}

.pager .page-item .page-link {
  color: var(--bs-gray-500);

  &:hover {
    color: var(--bs-gray-700);
  }
}

.pagerfanta {
  text-align: center;

  .pagination {
    display: inline-block;
  }
}
