.password-strength-meter {
  display: flex;
  height: 6px;
  margin-top: $spacer * 0.5;
  margin-bottom: $spacer * 0.4;
}

.meter-section {
  flex: 1;
  background-color: var(--bs-gray-300);
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.weak {
  background-color: var(--bs-danger-text-emphasis);
  opacity: 1;
}

.medium {
  background-color: var(--bs-warning-text-emphasis);
  opacity: 1;
}

.strong {
  background-color: var(--bs-success-text-emphasis);
  opacity: 1;
}

.very-strong {
  background-color: $green-700;
  opacity: 1;
}
