.password-strength-meter {
  display: flex;
  height: 6px;
  margin-top: $spacer * 0.5;
  margin-bottom: $spacer * 0.4;
}

.meter-section {
  flex: 1;
  background-color: $gray-300;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.weak {
  background-color: $danger;
  opacity: 1;
}

.medium {
  background-color: $warning;
  opacity: 1;
}

.strong {
  background-color: $success;
  opacity: 1;
}

.very-strong {
  background-color: $green-700;
  opacity: 1;
}
