table.table {
  border-bottom: $table-border-width solid $table-border-color;

  > :not(caption) > * > * {
    box-shadow: none;
  }

  thead {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-style: normal;
    font-weight: $font-weight-bold;

    th {
      border-top: none;
    }

    td, th {
      box-shadow: none;
    }
  }
}

@include color-mode(dark) {
  table.table {
    border-color: $gray-700;
  }
}
