.toggle-password-container {
  position: relative;
}

.toggle-password-icon {
  height: 1rem;
  width: 1rem;
}

.toggle-password-button {
  place-items: center center;
  background-color: transparent;
  border: none;
  column-gap: 0.25rem;
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  height: 1rem;
  line-height: 1.25rem;
  position: absolute;
  right: 0.5rem;
  top: -1.25rem;
}

.user {
  .toggle-password-button {
    top: unset;
    bottom: -1.25rem;
  }
}
