<div
  data-controller="toast"
  data-toast-type-value="{{ type|default('info') }}"
  data-toast-message-value="{{ message }}"
  data-toast-autohide-value="{{ autohide is not defined or autohide ? 'true' : 'false' }}"
  {% if delay is defined %}data-toast-delay="{{ delay }}"{% endif %}
></div>
