{% block head %}
    {% include '@SumoCodersFrameworkCore/head.html.twig' with {title: block('title') is defined ? block('title') : page_title} %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/error.scss') }}">
    {% endblock %}

{% endblock %}

<body class="error-page">
<div id="content" class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="header" role="alert">
                {% block body %}{% endblock %}
            </div>
            <div id="illustration"></div>
        </div>
    </div>
</div>
</body>
</html>
