{% block head %}
    {{ include('@SumoCodersFrameworkCore/head.html.twig') }}
{% endblock %}

<body class="body-empty">
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</body>
</html>
