{% block head %}
    {% include '@SumoCodersFrameworkCore/head.html.twig' with {title: block('title') is defined ? block('title') : page_title} %}
{% endblock %}

<body class="body-empty">
{{ include('@SumoCodersFrameworkCore/settheme.html.twig') }}

    {{ include('@SumoCodersFrameworkCore/notifications.html.twig') }}
    <div class="container">
      {% block main %}{% endblock %}
    </div>
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
