<div id="main-menu-inner">
  <div class="navbar p-0 navbar-expand-md flex-row flex-md-column" data-role="navbar-wrapper">
    <a href="/" rel="home" class="navbar-brand d-block d-md-flex justify-content-md-center">
      {% block logo_image %}
        <img class="img-responsive" src="{{ asset('build/images/logo-application.svg') }}" alt="{{ fallbacks.get('site_title') }}">
      {% endblock %}
    </a>
    <div class="navbar-header d-md-none d-flex">
      <button class="navbar-toggler navbar-toggler-right ml-auto collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1" data-role="navbar-collapse">
      {{ knp_menu_render('side_menu', {'template': '@SumoCodersFrameworkCore/menu/menu.html.twig', 'ancestorClass': 'open active'}) }}
      <div class="d-none d-md-block toggle-menu-visibility" data-sidebar-toggler>
        <div class="nav-item">
          <div class="nav-link d-flex align-items-center">
            <i class="fas fa-arrow-left"></i> <div class="nav-link-text">{{ 'core.interface.collapse'|trans|ucfirst }}</div>
          </div>
        </div>
      </div>
      <div class="d-md-none">
        {% include '@SumoCodersFrameworkCore/usermenu.html.twig' with {'mobile': true} %}
      </div>
    </div>
  </div>
</div>
