<div id="main-menu-inner">
  <div class="navbar p-0 navbar-expand-md flex-row flex-md-column" data-role="navbar-wrapper">
    <div class="collapse navbar-collapse" id="navbar-collapse-1" data-role="navbar-collapse">
      {{ knp_menu_render('side_menu', {'template': '@SumoCodersFrameworkCore/Menu/menu.html.twig', 'ancestorClass': 'open active'}) }}
      <div class="d-none d-md-block toggle-menu-visibility" data-action="click->sidebar-collapsable#toggle">
        <div class="nav-item">
          <div class="nav-link d-flex align-items-center">
            <i class="fas fa-arrow-left"></i> <div class="nav-link-text">{{ 'core.interface.collapse'|trans|ucfirst }}</div>
          </div>
        </div>
      </div>
      <div class="d-md-none">
        {% include '@SumoCodersFrameworkCore/usermenu.html.twig' with {'mobile': true} %}
      </div>
    </div>
  </div>
</div>
