{% block notifications %}
    <div class="toasts-wrapper" id="toast-wrapper">
        {% for flash in app.session.flashbag.get('success') %}
            {{ include('@SumoCodersFrameworkCore/_toast.html.twig', {message: flash, type: 'success'}) }}
        {% endfor %}
        {% for flash in app.session.flashbag.get('report') %}
            {{ include('@SumoCodersFrameworkCore/_toast.html.twig', {message: flash, type: 'info'}) }}
        {% endfor %}
        {% for flash in app.session.flashbag.get('warning') %}
            {{ include('@SumoCodersFrameworkCore/_toast.html.twig', {message: flash, type: 'danger', autohide: false}) }}
        {% endfor %}
    </div>
{% endblock %}
