{% extends 'knp_menu.html.twig' %}

{% block label %}
  {% if item.labelAttributes.icon is defined %}
    <i class="{{ item.labelAttributes.icon }} fa-fw menu-item-icon"></i>
  {% else %}
    <i class="fas fa-circle fa-fw menu-item-icon"></i>
  {% endif %}
  {% if item.parent.name == 'root' and item.hasChildren %}
    <i class="fas fa-chevron-down"></i>
  {% endif %}
  <div class="nav-link-text">{{ item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'messages'))|capitalize }}</div>
  {% if item.attributes.pill is defined and item.attributes.pill %}
    <span class="badge badge-pill badge-white ml-2"><span class="badge-content">{{ item.attributes.pill }}</span></span>
  {% endif %}
{% endblock %}

{% block item %}
  {% if item.parent.name == 'root' and item.hasChildren %}
    {% set item = item.setLinkAttributes({ 'class': 'nav-link d-flex align-items-center dropdown-toggle', 'data-toggle': 'dropdown', 'role': 'button', 'aria-expended': false }) %}
    {% set item = item.setAttributes({ 'class': 'dropdown nav-item', 'icon': item.attribute('icon'), 'pill': item.attribute('pill') }) %}
    {% set item = item.setChildrenAttributes({ 'class': 'dropdown-menu', 'role': 'menu' }) %}
  {% elseif item.parent.name == 'root' and not item.hasChildren %}
    {% set item = item.setAttributes({ 'class': 'nav-item', 'pill': item.attribute('pill') }) %}
    {% set item = item.setLinkAttributes({ 'class': 'nav-link d-flex align-items-center' }) %}
  {% elseif item.parent.name != 'root' and not item.hasChildren %}
    {% set item = item.setLinkAttributes({ 'class': 'dropdown-item d-flex align-items-center' }) %}
  {% endif %}
  {{ parent() }}
{% endblock %}
