{% extends 'knp_menu.html.twig' %}

{% block label %}
  {% if item.attributes.icon is defined %}
    <i class="{{ item.attributes.icon }}"></i>
    {% if item.parent.name == 'root' and item.hasChildren %}
      <i class="fas fa-chevron-right"></i>
    {% endif %}
  {% endif %}
  <span>{{ item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'messages'))|capitalize }}</span>
{% endblock %}

{% block item %}
  {% if item.parent.name == 'root' and item.hasChildren %}
    {% set item = item.setLinkAttributes({ 'class': 'nav-link dropdown-toggle', 'data-toggle': 'dropdown', 'role': 'button', 'aria-expended': false }) %}
    {% set item = item.setAttributes({ 'class': 'dropdown nav-item', 'icon': item.attribute('icon') }) %}
    {% set item = item.setChildrenAttributes({ 'class': 'dropdown-menu', 'role': 'menu' }) %}
  {% elseif item.parent.name == 'root' and not item.hasChildren %}
    {% set item = item.setAttributes({ 'class': 'nav-item' }) %}
    {% set item = item.setLinkAttributes({ 'class': 'nav-link' }) %}
  {% elseif item.parent.name != 'root' and not item.hasChildren %}
    {% set item = item.setLinkAttributes({ 'class': 'dropdown-item' }) %}
  {% endif %}
  {{ parent() }}
{% endblock %}
