{% extends 'knp_menu.html.twig' %}

{% block label %}
  {% if item.attributes.icon is defined %}
    <i class="{{ item.attributes.icon }} fa-fw mr-3"></i>
    {% else %}
      <i class="fas fa-circle fa-fw mr-3"></i>
  {% endif %}
  {% if item.parent.name == 'root' and item.hasChildren %}
    <i class="fas fa-chevron-down"></i>
  {% endif %}
  <div class="nav-link-text">{{ item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'messages'))|capitalize }}</div>
{% endblock %}

{% block item %}
  {% if item.parent.name == 'root' and item.hasChildren %}
    {% set item = item.setLinkAttributes({ 'class': 'nav-link d-flex flex-row align-items-center dropdown-toggle', 'data-toggle': 'dropdown', 'role': 'button', 'aria-expended': false }) %}
    {% set item = item.setAttributes({ 'class': 'dropdown nav-item', 'icon': item.attribute('icon') }) %}
    {% set item = item.setChildrenAttributes({ 'class': 'dropdown-menu', 'role': 'menu' }) %}
  {% elseif item.parent.name == 'root' and not item.hasChildren %}
    {% set item = item.setAttributes({ 'class': 'nav-item' }) %}
    {% set item = item.setLinkAttributes({ 'class': 'nav-link d-flex flex-row align-items-center' }) %}
  {% elseif item.parent.name != 'root' and not item.hasChildren %}
    {% set item = item.setLinkAttributes({ 'class': 'dropdown-item d-flex flex-row align-items-center' }) %}
  {% endif %}
  {{ parent() }}
{% endblock %}
