{% extends 'knp_menu.html.twig' %}

{% block list %}
  {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
      <ol class="breadcrumb" itemscope itemtype="https://schema.org/breadcrumb">
        <li class="breadcrumb-item">
          <a href="/" data-button-previous="back" class="breadcrumb-item-back"><i class="fas fa-chevron-left fa-sm mr-2"></i>{{ 'previous'|trans|capitalize }}</a>
        </li>
        {{ block('children') }}
      </ol>
  {% endif %}
{% endblock %}

{% block item %}
  {% set item = item.setAttributes({ 'class': 'breadcrumb-item','itemprop': 'itemListElement'}) %}
  {{ parent() }}
{% endblock %}

{% block label %}
  {{ item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'messages'))|capitalize }}
{% endblock %}

